<!--Brad Bilter -->
<!--RESTful action EDIT standard route-->
<h1 class="centered"><%= current_login == @login ? 'My' : 'Edit' %> Account</h1>
<div class="row">
  <div class="small-8 medium-6 large-4 small-centered columns">
    <div class="panel">
      <%= form_for @login, url: admin_account_path(@login), method: :patch do |f| %>
        <%= render 'form', f: f %>
        <%= f.submit 'Update account', class: 'small success button' %>
      <% end %>
    </div>
  </div>
</div>
