<!--Created by Leiyang Guo
With minimal assistance and advice with James Maher
Partial for admin search result-->
<%= content_tag :table do %>
  <%= content_tag :thead, display_sort_column_headers(@search), nil, false %>
  <%= content_tag :tbody, display_search_results(@searchadmin), nil, false %>
<% end %>

<!--Button for save list, user will be offered to print it out as pdf or save it to an excel sheet-->
<div class="row">
  <div class="large-12 small-12 columns">
    <%= link_to "Save to list", "show", class: "round button" %>
    </div>
</div>