<!--Created by Leiyang Guo
With minimal assistance and advice with James Maher
Using foundation 5 and Ransack basic search form-->
<%= search_form_for @search, url: search_searchusers_path, html: { method: :post } do |f| %>
    <div class="row">
      <p>
        <div class="large-8 small-8 columns">
          <%= f.text_field :first_name_or_last_name_or_email_cont %>
        </div>
        <div class="large-4 small-4 columns">
          <%= f.submit "search", :class => "round button" %>
        </div>
      </p>
    </div>
<% end %>
  
<!--Render basic search result-->
<% if @showResult == true %>
    <%= render 'results' %>
<% end %>